* {
    padding: 0;
    margin: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;;
}
.body {
    width: 1000px;
    max-width: 1000px;
    overflow-x: hidden;
}

/* Floating Section */

.floating-sos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 60%;
    position: fixed;
    background-color: rgba(126, 55, 7, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px 0 0 10px;
    padding-left: 3px;
}
.floating-sos a {
    font-size: 1.5rem;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
.floating {
    position: fixed;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 25px;
    bottom: 25px;
    background-color: rgba(71, 25, 3, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    width: 45px;
}
.floating a {
    color: black;
    font-size: 2.5rem;
}

/* ========================================================= */


/* Header Section */


.head {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img-train/asset/svensk68-horizontal-7587097_1920.jpg);
    height: 500px;
    width: 100%;
    box-shadow: 0 3px 3px 1px;
    margin-bottom: 25px;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.navbar ul {
    height: 5vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar a {
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.navbar a:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 242, 242, 0.5);
    backdrop-filter: blur(10px);
    padding: 2px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transform: scale(1,1) translateX(-10px);
}

/* ========================================================================== */

/* Content Section */
.content-container {
    width: 90% auto;
    max-width: 90%;
    padding-left: 1.5%;
    flex-wrap: wrap;
}
.arc article{
    width: 90% auto ;
}